*{
    box-sizing: border-box;
}

#logo{
    display: block;
    margin: auto;
    width: 45%;
}

header{
    background-color: #f5dba6;
    width: 100%;
    height: auto;
    text-align: center;
    color: #007f86;
}

#nav ul{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    max-width: fit-content;
    margin: 0;
    list-style: none;;
}

#nav li{
    flex: 1;
    margin: 0 5rem;
    text-align: center;
    border: 2px solid #000000;
    text-decoration: none;
    color: aliceblue;
    border-radius: 6px;
    padding: .5rem;
    background-color: red;
}

#weather{
    display: flex;
    justify-content: right;
    padding: 2rem;
}

body{
    background-color: bisque;
}

#catchprase{
    background-color: #e0f7fa;
    border: 2px solid #00796b;
    padding: 40px;
    text-align:center;
    border-radius: 9px;
    margin: 20px auto;
    max-width: fit-content;
    box-shadow: 0 4px 8px rgb(0, 0, 1);
}